<div id="page-wrapper">
  <div id="page">
    <div id="header">
      <div class="content">
        <div id="site-name_lang-switcher_toggle-light" class="row">
              <!-- Begin Top header right-->
              {% if page.top_header_right %}
                  <div id="top-header-right" class="column">
                      <div class="content">
                          {{ page.top_header_right }}
                      </div>
                  </div>
              {% endif %}
              <!--End Top header right-->

              <!-- Begin Top header left-->
              {% if page.top_header_left %}
                  <div id="top-header-left" class="column">
                      <div class="content">
                          {{ page.top_header_left }}
                      </div>
                  </div>
              {% endif %}
              <!--End Top header left-->
          </div>
        <div id="logo_menu_search" class="row">
              <!-- Begin highlighted header right-->
              {% if page.highlighted_header_right %}
                  <div id="highlighted-header-right" class="column">
                      <div class="content">
                          {{ page.highlighted_header_right }}
                      </div>
                  </div>
              {% endif %}
              <!--End highlighted header right-->

            <!-- Begin highlighted header left-->
            {% if page.highlighted_header_left %}
                <div id="highlighted-header-left" class="column">
                    <div class="content">
                        {{ page.highlighted_header_left }}
                    </div>
                </div>
            {% endif %}
            <!--End highlighted header left-->
          </div>
        <div id="site-slogan" class="row">
            <!-- Begin middle header top-->
            {% if page.middle_header_top %}
                <div id="middle-header-top" class="column">
                    <div class="content">
                        {{ page.middle_header_top }}
                    </div>
                </div>
            {% endif %}
            <!--End Middle header right-->
        </div>
        <div id="vision-century" class="row">
              <!-- Begin Middle header bottom-->
              {% if page.middle_header_bottom %}
                  <div id="middle-header-bottom" class="column">
                      <div class="content">
                          {{ page.middle_header_bottom }}
                      </div>
                  </div>
              {% endif %}
              <!--End Middle header bottom-->
        </div>
        <div id="electronic-services-slider" class="row">
              <!-- Begin Bottom header -->
              {% if page.bottom_header %}
                  <div id="bottom-header" class="column">
                      <div class="content">
                          {{ page.bottom_header }}
                      </div>
                  </div>
              {% endif %}
              <!--End Bottom header-->
        </div>
      </div>
    </div>
    <div id="main-wrapper">
      <div id="main">
          <div id="court-news" class="row">
              <!-- Begin Highlighted first-->
              {% if page.highlighted_first %}
                  <div id="highlighted-first">
                      <div class="content">
                          {{ page.highlighted_first }}
                      </div>
                  </div>
              {% endif %}
              <!--End Highlighted first-->
          </div>

          {{ page.content }}
      </div>
    </div>
    <div id="footer-wrapper">
    </div>
  </div>
</div>